.About {
  width: 100vw;
}

.img1 {
  float: left;
  margin: 5px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.p {
  text-align: justify;
  font-size: 18px;
}

.img2 {
  float: right;
  margin: 5px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.article {
  margin: 50px;
  min-height: 100vh;
}
.bookingBtn {
  margin-top: 20px;
  // background-color: #6b5a87;
  background-image: linear-gradient(rgb(120, 81, 22), rgb(244, 191, 156));
  color: rgb(255, 255, 255);
  width: 320px;
  height: 50px;
  border-radius: 10px;
  font-size: medium;
  font-weight: bolder;
}
.link {
  text-decoration: none;
  color: #281a0a;
}
