.MainPage {
  width: 100vw;
  z-index: 1;
}
.img {
  width: 100vw;
}
.img1 {
  width: 20vw;
  height: 30vh;

  float: left;
  margin: 5px;

  object-fit: cover;
}
.intro {
  margin: 25px;
}

.bookingBtn {
  margin-top: 20px;
  // background-color: #6b5a87;
  background-image: linear-gradient(rgb(120, 81, 22), rgb(244, 191, 156));
  color: rgb(255, 255, 255);
  width: 320px;
  height: 50px;
  border-radius: 10px;
  font-size: medium;
  font-weight: bolder;
}

.link {
  text-decoration: none;
  color: #281a0a;
}
