.Footer {
  display: grid;
  grid-template-columns: 49% 49%;
  width: 100vw;
  // background-color: rgb(251, 172, 185);
  background-image: linear-gradient(
    to bottom right,
    rgb(216, 188, 244),
    rgb(69, 51, 13)
  );
  margin-top: auto;
  bottom: 0;
}
.link {
  text-decoration: none;
  color: rgb(36, 26, 36);
  margin: 5px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: none;
  //   background-color: #fee6f6;
  color: rgb(36, 26, 36);
}
.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: none;
  //   background-color: #fee6f6;
  color: rgb(36, 26, 36);
}
