.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}
.LoginForm .container {
  display: flex;
  justify-content: center;
}
.LoginForm .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  width: 30rem;
  height: 15rem;
  //   row-gap: 10px;
  background-color: rgb(229, 206, 245);
  margin: 3vmin 2vmin;
  border: solid 20px rgb(229, 206, 245);
}

.LoginForm .button {
  margin: 20px;
  height: 50px;
}
